<%= form_tag(fetch_forecast_index_path, method: :get, remote: true) do %>
  <h2> Current & Forecast Temperatures </h2>
  <div>
    <div>
      <%= label_tag(:address_1, "Address 1") %>
      <%= text_field_tag :address_1 %>
    </div>

    <div>
      <%= label_tag(:address_2, "Address 2") %>
      <%= text_field_tag :address_2 %>
    </div>

    <div>
      <%= label_tag(:city, "City") %>
      <%= text_field_tag :city %>
    </div>

    <div>
      <%= label_tag(:state, "State") %>
      <%= text_field_tag :state %>
    </div>

    <div>
      <%= label_tag(:country, "Country") %>
      <%= text_field_tag :country %>
    </div>

    <div>
      <%= label_tag(:zipcode, "Zipcode") %>
      <%= text_field_tag :zipcode %>
    </div>
  </div>
  <br />
  <br />
  <div>
    <div>
      <%= submit_tag "Get Forecast", id:'forecast' %>
    </div>
    <p>Enter zipcode and/or a combination of city/state/country</p>
  </div>
<%end%>
<br />
<br />
<% if @weather_data %>

  <table>
	<thead>
	<tr>
	  <th style="padding: 0 20px 0 0;">Zipcode</th>
	  <th style="padding: 0 20px 0 0;">City</th>
	  <th style="padding: 0 20px 0 0;">Date</th>
	  <th style="padding: 0 20px 0 0;">Current_Temperature</th>
	  <th style="padding: 0 20px 0 0;">Max_Temperature</th>
	  <th style="padding: 0 20px 0 0;">Min_Temperature</th>
	  <th style="padding: 0 20px 0 0;">Cached_Value</th>
	</tr>
	</thead>

	<tbody>
	<tr>
	  <td style="text-align: center; padding: 0 20px 0 0;">
		<%= @zipcode %>
	  </td>
	  <td style="text-align: center; padding: 0 20px 0 0;">
		<%= @weather_data.name %>
	  </td>
	  <td style="text-align: center; padding: 0 20px 0 0;">
		<%= @weather_data.dt %>
	  </td>
	  <td style="text-align: center; padding: 0 20px 0 0;">
		<%= @weather_data.main.temp_f %>
	  </td>
	  <td style="text-align: center; padding: 0 20px 0 0;">
		<%= @weather_data.main.temp_max_f %>
	  </td>
	  <td style="text-align: center; padding: 0 20px 0 0;">
		<%= @weather_data.main.temp_min_f %>
	  </td>
	  <td style="text-align: center; padding: 0 20px 0 0;">
		<%= @cached_value ? "Y" : "N" %>
	  </td>
	</tr>
	</tbody>
  </table>
<%end%>